.button-slider-cat__left-triangle {
  position: absolute;
  right: 6px;
  top: calc(50% - 9px);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 9px solid #666666;
  z-index: 4;
}

.button-slider-cat__right-triangle {
  position: absolute;
  left: 6px;
  top: calc(50% - 9px);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 9px solid #666666;
  z-index: 4;
}

.slider__button:hover .button-slider-cat__left-triangle,
.slider__button:hover .button-slider-cat__right-triangle {
  border-right-color: #68b738;
  border-left-color: #68b738;
}

.slider__button:active .button-slider-cat__left-triangle,
.slider__button:active .button-slider-cat__right-triangle {
  border-right-color: #5eaa2f;
  border-left-color: #5eaa2f;
  opacity: 0.6;
}
