.type-food__container {
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: @tablet) {
    width: calc(100% - 60px);
    margin-bottom: 45px;
  }

  @media (min-width: @desktop) {
    display: flex;
    width: calc(100% - 220px);
    margin-bottom: 71px;
  }
}

.type-food__weight-loss {
  background-color: #f2f2f2;
  width: 100%;
  padding: 21px 20px 18px 20px;
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 21px 20px;
  margin-bottom: 20px;

  @media (min-width: @tablet) {
    height: 372px;
    padding: 77px 20px 53px 52px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr min-content;
    grid-template-areas: "texttitle image"
      "textds image"
      "button image";
    gap: 0;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop) {
    height: 374px;
    margin: 0;
    margin-right: 80px;
    padding: 41px 61px 55px 52px;
    column-gap: 62px;
    grid-template-columns: min-content 1fr;
  }
}

.type-food__weight-loss:last-child {
  @media (min-width: @tablet) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop) {
    margin-right: 0;
  }
}

.type-food__image-container {
  @media (min-width: @tablet) {
    grid-area: image;
    margin: auto auto;
  }

  @media (min-width: @desktop) {
    grid-area: auto;
    grid-column: 1;
  }
}

.type-food__image-slim {
  @media (min-width: @tablet) {
    width: 200px;
    height: 211px;
  }

  @media (min-width: @desktop) {
    width: 100px;
    height: 106px;
  }
}

.type-food__image-strong {
  margin-left: -6px;
  @media (min-width: @tablet) {
    margin: 0;
    width: 268px;
    height: 200px;
  }

  @media (min-width: @desktop) {
    margin-left: -18px;
    width: 134px;
    height: 100px;
  }
}

// .type-food__image {
//   @media (min-width: @tablet) {
//     display: none;
//   }
// }

// .type-food__image-tablet {
//   display: none;

//   @media (min-width: @tablet) {
//     display: block;
//     margin: auto auto;
//     grid-area: image;
//   }

//   @media (min-width: @desktop) {
//     display: none;
//     grid-column: 1;
//   }
// }

// .type-food__image-desktop {
//   display: none;

//   @media (min-width: @desktop) {
//     display: block;
//   }
// }

.type-food__title {
  font-family: @oswald;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: auto 0;

  @media (min-width: @tablet) {
    font-size: 36px;
    line-height: 36px;
    grid-area: texttitle;
    margin: 0 auto auto 0;
  }

  @media (min-width: @desktop) {
    margin: auto 0;
    grid-column: 2;
  }
}

.type-food__description {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  grid-column: 1/3;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 23px;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    grid-area: textds;
    border: none;
    padding: 0;
    padding-top: 5px;
  }

  @media (min-width: @desktop) {
    padding: 39px 0 23px 0;
    grid-column: 1/3;
  }
}

.type-food__link {
  display: block;
  font-family: @oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background-image: url("../img/type_food_images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 102px center;
  right: 8px;
  width: 134px;
  margin: 0;
  padding: 0;
  grid-column: 1/3;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
    width: 165px;
    background-position: 133px 50%;
    margin: auto 0;
    grid-area: button;
  }

  @media (min-width: @desktop) {
    grid-column: 1/3;
  }
}
