.choose-program__label {
  display: block;
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 13px;
  position: relative;
  padding: 6px 0 6px 45px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
    padding: 5px 0 5px 60px;
  }
}

.choose-program__label:last-child {
  margin-bottom: 0;
}

.choose-program__mark {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 50%;

  @media (min-width: @tablet) {
    width: 40px;
    height: 40px;
  }
}

.choose-program__parameter:checked + .choose-program__mark::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;

  @media (min-width: @tablet) {
    width: 18px;
    height: 18px;
  }
}

.choose-program__parameter:hover + .choose-program__mark {
  border-color: #bababa;
}

.choose-program__parameter:focus-visible + .choose-program__mark {
  border-color: #444444;
}

.choose-program__parameter:disabled + .choose-program__label {
  opacity: 0.3;
}
