.owners-contacts__title {
  font-family: @oswald;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 34px;
}

.owners-contacts__label {
  display: flex;
  margin-bottom: 12px;
}

.owners-contacts__label:last-child {
  margin-bottom: 0;
}

.owners-contacts__title-input {
  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: block;
  white-space: nowrap;
  margin-right: 13px;
  align-self: center;
}

.owners-contacts__parameter {
  box-sizing: border-box;
  width: 100%;
  height: 46px;
}
