.program-selection__container {
  margin: 0;
}

.program-selection__title {
  font-family: @oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  padding: 27px 20px 37px 20px;
  margin: 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ebebeb;
  }

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    padding: 0 0 54px 69px;

    &::before {
      content: none;
    }
  }

  @media (min-width: @desktop) {
    padding: 0 0 56px 110px;
  }
}

.program-selection__description {
  font-family: @oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: @tablet) {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding: 0 360px 66px 69px;
  }

  @media (min-width: @desktop) {
    padding: 0 990px 66px 110px;
  }
}
