// .send-request {
//   @media (min-width: @tablet) {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     row-gap: 64px;
//   }

//   @media (min-width: @desktop) {
//     display: grid;
//     grid-template-columns: 1fr 84px 1fr;
//     row-gap: 64px;
//   }
// }

.send-request__required-field {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  width: 60%;
  margin: auto auto;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 16px;
    margin: auto auto auto 0;
  }
}

.send-request__button-order {
  .button-order;
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  margin-bottom: 21px;

  @media (min-width: @tablet) {
    font-size: 20px;
    margin: 0;
    width: 282px;
    height: 52px;
  }

  @media (min-width: @desktop) {
    width: 568px;
  }
}
