.catalog__container {
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: @tablet) {
    padding: 0 30px 0 30px;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop) {
    padding: 0 110px 0 110px;
    margin-bottom: 75px;
  }
}

.catalog__title {
  font-family: @oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  padding: 27px 0 41px 20px;
  margin: 0;
  margin-bottom: 19px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ebebeb;
  }

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebebeb;
  }

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 163px;
    padding: 0;

    &::after {
      content: none;
    }

    &::before {
      content: none;
    }
  }

  @media (min-width: @desktop) {
    margin-bottom: 165px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 141px 60px;
  }

  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 143px 80px;
  }
}

.catalog__item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content min-content min-content;
  padding: 0 20px 25px;
  border-bottom: 1px solid #ebebeb;
  position: relative;

  @media (min-width: @tablet) {
    display: block;
    padding: 0 37px 39px 39px;
    border: none;
    margin-top: auto;
  }

  @media (min-width: @tablet) {
    padding: 0 38px 39px 39px;
  }
}

.catalog__item-image-container {
  grid-column: 1;
  grid-row: 1/-1;
  display: block;
  margin: auto auto;
  width: min-content;

  @media (min-width: @tablet) {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: -11%;
  }

  @media (min-width: @desktop) {
    position: absolute;
    top: -12%;
  }
}

.catalog__item:nth-child(even) .catalog__item-container .catalog__item-image-container {
  @media (min-width: @tablet) {
    top: -17%;
  }

  @media (min-width: @desktop) {
    top: -19%;
  }
}

.catalog__item-parameter {
  grid-column: 2;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet) {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 9px;
    margin-bottom: 5px;
  }
}

.catalog__item-parameter:last-of-type {
  margin-bottom: 20px;

  @media (min-width: @tablet) {
    margin-bottom: 32px;
  }
}

.catalog__item-button-order {
  .button-order;
  grid-column: 1/3;
  grid-row: auto;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
}

.catalog__item:last-of-type .catalog__item {
  display: block;

  @media (min-width: @tablet) {
    border: 2px solid #f2f2f2;
  }
}

.catalog__item:not(:last-child) {
  margin-bottom: 19px;

  @media (min-width: @tablet) {
    margin-bottom: 0;
    background-color: #f2f2f2;
  }

  @media (min-width: @desktop) {
    margin-bottom: 0;
    background-color: #f2f2f2;
  }
}

.catalog__item:last-child {
  margin: 0;

  @media (min-width: @tablet) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop) {
    margin-bottom: 0;
  }
}

.catalog__item-title {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  padding-bottom: 16px;
  padding-right: 64px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 0;
    padding-bottom: 21px;
    padding-top: 161px;
    margin: 0 auto;
    width: 164px;
  }

  @media (min-width: @desktop) {
    padding-top: 165px;
  }
}

.catalog__item-additional-image {
  display: block;
  margin: 4px auto 23px auto;
  grid-column: 1/-1;

  @media (min-width: @tablet) {
    margin: 52px auto 49px auto;
    width: 60px;
    height: 60px;
  }
}

.catalog__item-additional-title {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 8px;
  grid-column: 1/-1;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 22px;
    width: 164px;
    margin: 0 auto;
    margin-bottom: 23px;
  }
}

.catalog__item-additional-description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin: 0;
  margin-bottom: 21px;
  grid-column: 1/-1;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 18px;
    width: 165px;
    margin: 0 auto;
    margin-bottom: 87px;
  }
}

.catalog__item-description {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
